.country{
    background-color: rgb(13, 167, 133);
    color: white;
    margin: 10px;
    padding: 10px;
    border: 3px solid rgb(211, 54, 6);
    border-radius: 10px;
}

.country img{
    width: 200px;
}

